@model Nomos.Models.Legislacao.LegislacaoEditViewModel

@{
    ViewData["Title"] = "Legislação - Edição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Legislacao/Edit.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Legislacao/Relacionados.css")" />
}

<h3>Legislação</h3>
<hr />
<div class="form-group">
    <div class="row">
        <div class="col-sm-12">
            <button id="btn-salvar" onclick="salvarClick()" type="button" class="btn btn-primary" aria-label="Left Align">Salvar <span class="fa fa-save fa-lg" aria-hidden="true"></span></button>
            <button id="btn-cancelar" onclick="cancelarClick()" type="button" class="btn btn-warning" aria-label="Left Align">Cancelar <span class="fa fa-times fa-lg" aria-hidden="true"></span></button>
            <button id="btn-excluir" onclick="excluirClick()" type="button" class="btn btn-danger" aria-label="Left Align">Excluir <span class="fa fa-trash fa-lg" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group">

            <div class="row">
                <input id="id" type="hidden" value="@Model.Id" />
                <div class="col-sm-2">
                    <label>Código</label>
                    <input id="codigo" class="form-control" type="text" maxlength="50" value="@Model.Codigo" />
                </div>
                <div class="col-sm-6">
                    <label>Título</label>
                    <input id="titulo" class="form-control" type="text" maxlength="100" value="@Model.Titulo" />
                </div>
                <div class="col-sm-4">
                    <label>Tipo</label>
                    @Html.DropDownListFor(model => model.TipoId, Model.Tipos, new { @id = "tipo", @class = "form-control input-sm", @style = "width:100%;" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label>Descrição</label>
                    <input id="descricao" class="form-control" type="text" maxlength="500" value="@Model.Descricao" />
                </div>
            </div>


            <div class="row">

                <div class="col-sm-2">
                    <label>Categoria</label>
                    @Html.DropDownListFor(model => model.CategoriaId, Model.Categorias, new { @id = "categoria", @class = "form-control input-sm", @style = "width:100%;" })
                </div>

                <div class="col-sm-2">
                    <label>Data Publicação</label>
                    <input id="dataPublicacao" class="form-control" type="text" value="@Model.DataPublicacao" />
                </div>

                <div class="col-sm-2">
                    <label>Data Início Vigência</label>
                    <input id="dataInicioVigencia" class="form-control" type="text" value="@Model.DataInicioVigencia" />
                </div>

                <div class="col-sm-4">
                    <label>Orgão</label>
                    @Html.DropDownListFor(model => model.OrgaoId, Model.Orgaos, new { @id = "orgao", @class = "form-control input-sm", @style = "width:100%;" })
                </div>


                <div class="col-sm-2">
                    <label>Situação</label>
                    @Html.DropDownListFor(model => model.SituacaoId, Model.Situacoes, new { @id = "situacao", @class = "form-control input-sm", @style = "width:100%;" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label>Link</label>
                    <form class="form-link-input">
                        <input id="link" class="form-control link-input" type="text" maxlength="4000" value="@Model.Link" />
                        <a class="link-input-button" id="linkAcesso"><i class="fa fa-globe" onclick="abrirUrl()"></i></a>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Observação</label>
                    <textarea id="observacao" class="form-control" rows="10" maxlength="8000">@Model.Observacao</textarea>
                </div>
            </div>
        </div>

    </div>
</div>
@Html.Partial("~//Views/Legislacao/Relacionados.cshtml", Model.Relacionados)
<hr />
<div class="form-group">
    <div class="row">
        <div class="col-sm-12">
            <button id="btn-salvar" onclick="salvarClick()" type="button" class="btn btn-primary" aria-label="Left Align">Salvar <span class="fa fa-save fa-lg" aria-hidden="true"></span></button>
            <button id="btn-cancelar" onclick="cancelarClick()" type="button" class="btn btn-warning" aria-label="Left Align">Cancelar <span class="fa fa-times fa-lg" aria-hidden="true"></span></button>
            <button id="btn-excluir" onclick="excluirClick()" type="button" class="btn btn-danger" aria-label="Left Align">Excluir <span class="fa fa-trash fa-lg" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<script src="~/js/Legislacao/Edit.js"></script>

<script>
    var urlAtualizar = encodeURI('@Url.Action("Atualizar", "Legislacao")');
    var urlExcluir = encodeURI('@Url.Action("Excluir", "Legislacao")');
</script>
